<?xml version='1.0' encoding='UTF-8'?>
<Configuration>
	<Appenders>
		<Console name='console' target='SYSTEM_OUT'>
			<PatternLayout />
		</Console>		
		<RollingFile name='file' fileName='c:/DEV/kimseongmin.camping.log'
			filePattern='c:/DEV/kimseongmin.camping.%d{yyyy-MM-dd-HH-mm-ss}.log' append='true'>
			<PatternLayout pattern='[%-5p: %d{yyyy/MM/dd HH:mm:ss}] %m%n' />
			<Policies>				
				<TimeBasedTriggeringPolicy interval='86400'/>
			</Policies>
		</RollingFile>
	</Appenders>
	
	<Loggers>
		<Root level='INFO'>
			<AppenderRef ref='console' />
			<AppenderRef ref='file' />
		</Root>
	</Loggers>
</Configuration>